.sidebar {
    background-color: #f9fafb;
    margin-top: 3px;
}

#forecast {
    margin-left: 10px;
}

.uvIndex {
    padding: 6px;
    color: white;
    border-radius: 3px;
}

.forecast {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px;
    color: white;
}