.sidebar {
  background-color: #f9fafb;
  margin-top: 3px;
}

.searchedCity {
  width: 100%;
  display: block;
}

.uvIndex {
  padding: 6px;
  color: white;
  border-radius: 3px;
}

#forecast {
  margin-left: 30px;
  padding-top: 20px;
}

.forecastCard {
  padding-left: 10px;
  padding-right: 10px;
}

.forecastDiv {
    padding-right: 0;
}

.forecastDay {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: white;
}

@media (min-width: 600px) {
  .sidebar {
    height: 100vh;
  }
}

@media (min-width: 600px) {
  .forecastDiv {
    width: 20% !important;
  }
}
